.repl_history
build
tags
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.idea

app/testflight_launcher.rb

tap.txt

result.txt

vendor/TestFlight/TestFlight.bridgesupport
